/* Default background (before tapping button) */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
  transition: background 1s ease;
  background: url("background2.jpeg") no-repeat center center/cover;
}

h1 {
  font-size: 8em;
  font-family: cursive;
  color: #fa7bde;
  text-shadow:  0 0 60px #09dada;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #c20ae7;
  color: rgb(242, 232, 250);
  transition: background 0.3s;
}

button:hover {
  background: #f09cf3;
}

.message {
  margin-top: 20px;
  font-size: 1.2em;
  display: none;
  color: #e883f1;
  font-family: cursive;
  font-size: 3em;
  font-weight: bold;
}

/* Background after tapping */
.new-background {
  background: url("backy4.jpeg") no-repeat center center/cover;
  background-size: cover;
  animation: pump-bg 2s infinite;
}

/* Pumping heart (hidden at first) */


@keyframes pump-bg {
  0%, 100% {
    background-size: 90%;
  }
  50% {
    background-size: 100%;
  }
}
